.Island {
  position: fixed;
  transform-origin: center;
  z-index: 9999;
  scrollbar-width: none;
  -webkit-user-select: none;
  user-select: none;
}

.Island input {
  -webkit-user-select: auto;
  user-select: auto;
}

.Island textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.Island select {
  -webkit-user-select: auto;
  user-select: auto;
}

.Island {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: auto;
}
.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10000;
}

.Island button {
  white-space: nowrap;
  flex-shrink: 0;
}
